<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IndustryProject.Properties.Settings.dbIndigenousPlaceNamesConnectionString"
            connectionString="Data Source=Localhost;Initial Catalog=dbIndigenousPlaceNames;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IndustryProject.Properties.Settings.LoginConnectionString"
            connectionString="Data Source=Tyler-PC;Initial Catalog=Login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>